@use "../../variables" as *;
@use "../../mixins" as *;

@mixin tool($color, $bg_color) {
  display: flex;
  align-items: center;
  padding: .625rem .875rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .5rem;
  color: $color;
  background-color: $bg_color;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.tools_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tool {
  @include tool($gray_100, transparent);

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.selected {
  color: $primary_100;
  background-color: $white;
  box-shadow: 0 0 .75rem rgba($black, 0.03);
}

.tool_icon {
  flex-shrink: 0;
  margin-right: .75rem;
}

.tool_locales {
  cursor: inherit;
}

.params_button {
  @include reset_button_defaults();
  @include tool($white, $primary_100);
}