@mixin reset_button_defaults() {
  display: block;
  font-family: "Onest", sans-serif;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin hide_scrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin tool($color, $bg_color) {
  display: flex;
  align-items: center;
  padding: .625rem .875rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .5rem;
  color: $color;
  background-color: $bg_color;
  cursor: pointer;
}